<div class="container">
  <div class="avatar">
    <img src="https://w0.peakpx.com/wallpaper/229/806/HD-wallpaper-one-piece-gear-5-one-piece-monkey-d-luffy.jpg" alt="" />
  </div>
  <div class="menu">
    <img
      src="https://raw.githubusercontent.com/Rohan636-create/whatsapprohan1/85672d800f4a642ca4f21a45d580db825ed170ff/group.svg.svg"
      alt="group"
    />
    <img
      src="https://raw.githubusercontent.com/Rohan636-create/whatsapprohan1/85672d800f4a642ca4f21a45d580db825ed170ff/status.svg.svg"
      alt="status"
    />
    <img
      src="https://raw.githubusercontent.com/Rohan636-create/whatsapprohan1/85672d800f4a642ca4f21a45d580db825ed170ff/chats.svg.svg"
      alt="chats"
    />
    <img
      src="https://raw.githubusercontent.com/Rohan636-create/whatsapprohan1/85672d800f4a642ca4f21a45d580db825ed170ff/option.svg.svg"
      alt="option"
    />
  </div>
</div>
