<div class="container">
  <div class="avatar">
    <img src="https://www.hindustantimes.com/ht-img/img/2023/08/06/550x309/one_piece_gear_5_1691322181077_1691326491082.jpg" alt="" />
  </div>
  <div class="menu">
    <img
      src="https://raw.githubusercontent.com/Rohan636-create/whatsapprohan1/85672d800f4a642ca4f21a45d580db825ed170ff/group.svg.svg"
      alt="group"
    />
    <img
      src="https://raw.githubusercontent.com/Rohan636-create/whatsapprohan1/85672d800f4a642ca4f21a45d580db825ed170ff/status.svg.svg"
      alt="status"
    />
    <img
      src="https://raw.githubusercontent.com/Rohan636-create/whatsapprohan1/85672d800f4a642ca4f21a45d580db825ed170ff/chats.svg.svg"
      alt="chats"
    />
    <img
      src="https://raw.githubusercontent.com/Rohan636-create/whatsapprohan1/85672d800f4a642ca4f21a45d580db825ed170ff/option.svg.svg"
      alt="option"
    />
  </div>
</div>
